__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
venv-*/
.env

# git
.git/
.gitignore

# Data & raw files
data/
.raw_data/
*.zip
*.tar.gz

# PM2 and local config
.pm2/
ecosystem.config.js
logs/
*.log

# Windows specific
Desktop.ini
Thumbs.db

# Agent files
.agent/
.gemini/
